{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 70,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "tv"
  ],
  "overrides": [
    {
      "files": ["*.test.*"
      ],
      "options": {
        "printWidth": 80
      }
    }
  ]
}